<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlyMultiTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SlyMultiTrainer.Properties.Settings>
            <setting name="FlyButtonUp" serializeAs="String">
                <value>Cross</value>
            </setting>
            <setting name="FlyButtonDown" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="FlyButtonAccelerate" serializeAs="String">
                <value>L1</value>
            </setting>
        </SlyMultiTrainer.Properties.Settings>
    </userSettings>
</configuration>